fastapi
uvicorn
tqdm
requests
beautifulsoup4
langchain
langchain-core
langchain-community
langchain-huggingface
transformers
huggingface-hub
python-dotenv
numpy
scikit-learn
faiss-cpu
langchain-ollama